<% layout('layouts/boilerplate') %>

<h1 class="display-5 text-center mb-3">Welcome to Elderly Care Forum</h1>
<div id="cluster-map" class="mb-3"></div>

<svg class="arrows" id="arrows" style="border: 5px;">
    <path class="a1" d="M0 0 L30 32 L60 0"></path>
    <path class="a2" d="M0 20 L30 52 L60 20"></path>
    <path class="a3" d="M0 40 L30 72 L60 40"></path>
</svg>


<div id="scroll_to"></div>
<h1 class="display-5 text-center mb-3">Care Centers</h1>
<form class="row pb-3 justify-content-center" action="/care_center/search" method="POST">
    <div class="col-md-6 d-flex justify-content-center">
        <div class="px-2">
            <select class="form-select" id="state" name="state">
                <option selected name="selected_state" value="selected_state"> <%= selected_state %> </option>
                <% if(isFiltered) { %>
                <option name="All States" value="All States">All States</option>
                <% } %>
                <% for(let state of states.states) { %>
                <% if(state !== selected_state)  { %>
                <option name="state" value="<%= state %>"><%= state %></option>
                <% } %>
                <% } %>
            </select>
        </div>
        <div class="px-2">
            <button class="btn btn-primary ">Search</button>
        </div>
    </div>
</form>




<% for(let i=0; i < 10; ++i) { %>
<% const care_center = care_centers[i] %>
<% if(care_center) { %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <%if(care_center.images.length) { %>
            <img src="<%=care_center.images[0].url%>" alt="" class="img-fluid">
            <% } else { %>
            <img src="" alt="">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= care_center.title %></h5>
                <p class="card-title"><%= care_center.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= care_center.location %></small>
                </p>
                <a href="/care_center/<%= care_center._id %>" class="btn btn-primary">
                    View <%= care_center.title %>
                </a>
            </div>
        </div>
    </div>
</div>
<% } else { %>
<div class="text-center mb-3">
    Sorry! No more care centers available in the selected states
</div>
<% break %>
<% } %>
<% } %>

<script>
    const map_token = '<%-process.env.MAPBOX_TOKEN%>';
    const care_centers = {
        features: <%- JSON.stringify(care_centers) %>
    }
</script>

<script src="/javascripts/cluster_map.js"></script>